:root {
    --primary-color: black;
    --secondary-color: #674569;
    --tertiary-color: #d9d9d9;
}

/* body {
    color: var(--primary-color);
} */
/* HEADER/NAV STYLE*/

header {
    position:relative;
    top: 0;
    padding: 30px 45px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--tertiary-color);
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--tertiary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.3vw;
}    

/*HERO*/

.hero img{
    display: flex;
    position: relative; 
    width: 100%; 
    height: 351px;
}
/*INTRO STYLE*/

.intro-text {
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-bottom: 1px solid;
}
.intro-text h2{
    text-align: center;
    margin: 3.5%;
    font-size: 40px;
    line-height: .75;
    color: var(--tertiary-color);
    font-weight: bold;
}
/* .intro h2 p {
    color: var(--tertiary-color);
    font-size: 20px;
}  */

/*SECTION STYLES*/
.section-title {
    display: flex;
    font-size: 35px;
    padding-bottom: 20px;
    text-align: left;
    color: var(--primary-color);
}
.primary-border {
    border-left: 3px solid;
    border-left-color: var(--secondary-color);
    margin-right: 20px;
}   





/* style="position: relative; width: 100%; height: 0; padding-top: 50.0000%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;"> */