:root {
    --primary-color: black;
    --secondary-color: #ff6c6a;
    --tertiary-color: #d9d9d9;
}
* {
    margin: 0;
    padding: 0;
}    
body {
    background-color: var(--primary-color);
    font-family: system-ui;
}

/* HEADER/NAV STYLE*/

header {
    position:relative;
    top: 0;
    padding: 30px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--tertiary-color);
    margin: 0;
}
header a {
    text-decoration: none;
    font-family: system-ui;
    color: var(--tertiary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.3vw;
}    

/*HERO*/

.hero img{
    display: flex;
    position: relative; 
    width: 100%; 
    height: 351px;
}
/*INTRO STYLE*/

.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    align-items: flex-start;
    
    /* border-bottom: .25px solid;
    border-color: var(--tertiary-color); */
}

.intro-text {
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 20px;
    color: var(--secondary-color);
    
}
.intro-text h2{
    text-align: center;
    margin: 2.5%;
    font-size: 50px;
    line-height: .75;
    font-weight: bold;
    color: var(--tertiary-color);
}
.avatar {
    /* justify-content: center;
    align-items: center;
    flex: 0 0 15; */
    width: 8%;
    display: flex;
    align-items: flex-end;

}

/*SECTION STYLES*/
.section-title {
    flex: 0 0 150px;
    font-size: 35px;
    font-family: system-ui;
    text-align: left;
    color: var(--tertiary-color);
    
}
.primary-border {
    padding-right: 30px;
    border-right: 3px solid var(--tertiary-color);
    margin-right: 20px;
}   
#about-me, #the-portfolios,#contact {
    display: flex;
    margin: 20px;
}
#about-me p {
    color: var(--tertiary-color);
    margin: auto;
}

/*PORTFOLIO SECTION*/

.my-portfolios {
    width: 125%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-around;
}
.my-portfolios-run {
    width: 150%;
}
.portfolio {
    margin: 20px;
    flex: 1 0 0;
    color: var(--tertiary-color);
}
.portfolio img {
    width: 55%;
    border: 1.5px solid #FF6C6A;
}
/* .portfolio section img {
    width: 75%;
} */
.properties {
    color: var(--secondary-color);
    font-size: 10px;

}

/*CONTACT SECTION*/
address {
    flex-wrap: wrap;
    justify-content: space-around;
    word-spacing: 10px;
}
address a {
    color: var(--tertiary-color);
}

/* style="position: relative; width: 100%; height: 0; padding-top: 50.0000%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;"> */